<h2 style="text-align: center;">My Reactive Form</h2>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="row col-sm-5">
      <div class="form-group">
        <label for="firstname">FirstName</label>
        <input type="text" id="firstname" name="firstname" class="form-control" 
           formControlName="firstname"  autocomplete="off"/>
      </div>

      <div class="form-group">
        <label for="lastname">LastName</label>
        <input type="text" id="lastname" name="lastname" class="form-control" 
          formControlName="lastname"  autocomplete="off"/>
      </div>

      <div class="form-group">
        <label for="firstname">Email</label>
        <input type="text" id="email" name="email" class="form-control validator" 
          formControlName="email"  autocomplete="off"/>
          <small *ngIf="userForm?.get('email')?.errors">Please enter a valid email</small>

      </div>

      <div class="form-group">
        <label for="firstname">Password</label>
        <input type="password" id="password" name="password" class="form-control"
        formControlName="password"/>
      </div>
      <div>
        <button type="submit" >Push the data</button>
        <button type="submit" (click)="onPushData()">Submit to DB</button>
      </div>
    </div>

    <div>
      <table class="table" style="border: 1px solid black">
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
        <tr *ngFor="let obj of myUsers">
            <td>{{obj.first}}</td>
            <td>{{obj.last}}</td>
            <td>{{obj.Email}}</td>
        </tr>
      </table>
    </div>
  </div>
</form>
















































<!-- <h2 style="text-align: center;">My Template Form</h2>
<form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
  <div class="form-group">
    <label for="firstname">Firstname</label>
    <input type="text" class="form-control" id="firstname" placeholder="Firstname"  name="firstname" ngModel="">
  </div>

  <div class="form-group">
    <label for="lastname">Lastname</label>
    <input type="text" class="form-control" id="lastname" placeholder="Lastname" name="lastname" ngModel="">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control validator" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" #email="ngModel" required email ngModel="">
    <span style="font-size: small;color: red;" *ngIf="!email.valid && email.touched">Please enter a valid email!!</span>
   
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control validator" id="exampleInputPassword1" placeholder="Password" name="password" ngModel="" required #password="ngModel">
    <span style="font-size: small;color: red;" *ngIf="!password.valid && password.touched">Please enter a valid email!!</span>
  </div>
 
  <button type="submit" class="btn" [disabled]="!userForm.valid">Submit</button>
</form>


<br />
<br />

<div>
 <pre>Valid: {{userForm.valid}}</pre>
 <pre>Touched: {{userForm.touched}}</pre>
 <pre>Dirty: {{userForm.dirty}}</pre>
 <pre>Submitted: {{userForm.submitted}}</pre>
</div>

<h3>All the values which you given for the form are present here: </h3>
<div>
<pre>Value: {{userForm.value | json}}</pre>
</div>
 -->


